{{#each posts as |post|}}
<header class="p-3 mb-4 header ">
    <div class="container">
    <div class="d-flex justify-content-between">
        <div class="h2 mr-auto p-2">{{title}}</div>
        <div class="lead p-2">Posted by {{user.email}} on {{format_date date}}</div>     
    </div>
    <ul class="list-group" >
        <li class="list-group-item p-3">{{content}}</li>
    </ul>
    </div>
     {{/each}}
 </header>
